# OS X files
.DS_Store

# JetBrains IDE files
.idea

# Environment Variables. Read by tegola v0.6.0 and higher
.env

# Tegola-specific files and directories to keep out of the repo
dbcredentials.sh
cache/

# local ignored files
_*