body {
  margin:0;
  padding:0;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
#switch-server{
  position: absolute;
  top: 20px;
  left: 40px;
}
#switch-city{
  position: absolute;
  top: 20px;
  right: 80px;
}
#switch-libs{
  position: absolute;
  bottom: 0px;
  right: 80px;
}
#switch-styles {
  position: absolute;
  bottom: 0px;
  left; 10px;
}
.switch-style {
  width: 50px;
  height: 50px;
  background: #ccc;
  opacity: 0.9;
  float: left;
  margin: 0 1em 0;
  text-align: center;
  font-size: 14px;
  padding: 1em;
  cursor: pointer;
  border: 1px solid #cecece;
  border-bottom: none;
  background: #f7f6f1;
  -webkit-box-shadow: 6px -6px 15px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px -6px 15px -10px rgba(0,0,0,0.75);
  box-shadow: 6px -6px 15px -10px rgba(0,0,0,0.75);
  font-weight: 400;
}
.switch-style.osm {
  background: url('../images/osm.png')
}
.switch-style.camo{
  background: url('../images/camo.png')
}
.switch-style.night-vision{
  background: url('../images/night-vision.png')
}
.switch-style.mobility{
  background: url('../images/mobility.png')
}
.switch-style.osgeo{
  background: url('../images/osgeo.png')
}
